body {
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: fit-content;
}

.container {
align-content: flex-end;
}

.center{
    align-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
}